.projects{
    background-color: rgb(224, 224, 224);
}

a{
    text-decoration: none;
    color: black;
}

.projectPic{
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

.video{
    height: 400px;
    position: relative;
    left: 150px;
}

.projectDesc{
    float: right;
    position: relative;
    right: 100px;
    bottom: 30px;
}

li{
    margin-top: 20px;
}

.designLink{
    left: 150px;
    position: relative;
}